html {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 3% 10% 5% 10%;
}

.logo_img{
  width: 150px;
  height: 68;
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation li {
  margin: 0 0 0 3rem;
}

.header_navlink {
  text-decoration: none;
  list-style-type: none;
  font-size: 24px;
  color: #FF6060;
  text-decoration: underline 2px #FF6060;
}


.header_navlink_active {
  text-decoration: none;
  list-style-type: none;
  font-size: 24px;
  color: #FF6060;
}



.footer {
  width: 100%;
  background-color: black;
  height: 209px;
  margin-top: 3rem;
  text-align: center;
}

.logo_img_svg {
  color: white;
  margin-top: 4rem;
}

.copyright {
  color: white;
}




.banner {
  position: relative;
  text-align: center;
}
.banner_img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  filter: brightness(70%);
  animation: az 1.3s ease-out both;
  animation-delay: 0.5s;
}
@keyframes az {
  0%   { transform: scale(1.1); }
  100%   { transform: scale(1) }
}

.banner_img_bloc{
  border-radius: 25px;
  overflow: hidden;
  width: 93%;
  height: 223px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-bottom: 2rem;
}




.banner_title {

  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  position: absolute;
  top: 23%;
  left:15%;
  right: 15%;
  transform: scale(0.90);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);  
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.txt {
  justify-content: space-between;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}



.thumbnail_section {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  padding: 30px 10px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 91%;

}
.thumbnail_bloc{
  border-radius: 10px;
  height: 340px;
  width: 340px;
  position: relative;
  margin: 1.4rem;
  overflow: hidden;
  transition: .4s;
  animation: small 1.3s ease-out;
  animation-delay: 0.5s;
}
@keyframes small{

  0% {
      transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  } 
}

.thumbnail_bloc:hover {
transition: .4s;
transform: scale(1.05);
}
.thumbnail {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
	transform: scale(1.5);
	transition: .4s ease-in-out;  
}

.thumbnail:hover {
	transform: scale(1); 
}

.thumbnail_title {
  
  color: #ffffff;
  font-size: 18px;
  bottom: 20px;
  left: 20px;
  margin-right: 82px;
  position: absolute;  
  transition: .4s;
}

.thumbnail:hover + .thumbnail_title {
  
 transform: scale(1.1) translateY(15px); 
 transition: .4s;
}








.About {
  position: relative;
}
.banner_about_img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}


/* #################### Collapse #################### */


.dropdown_header{

  color: #ffffff;
  height: 50px;
  line-height: 50px;
  margin: 5px 10px;

  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 1rem;

  background-color: #ff6060;
  border-radius: 5px;
  /* height: 25%; */
  min-height: 50px;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  font-size: 22px;
  cursor: pointer;
}

.fleche-dropdown {
  float:right;
  margin-top: 18px;
  margin-right: 15px;
  transition:  0.6s;
}
.fleche-dropdown.true {
  transform: rotate(-180deg);
  transition:  0.6s;
}

.dropdown_description {
  background-color: #f6f6f6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ff6060;
  padding: 15px 4px 35px 10px;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.dropdown_description-parent{
  /* height: 0px; */
  max-height: 0;
  overflow: hidden;
  transition:  0.8s;
  opacity: 0;
}

.dropdown_description-parent.show {
  /* height:128px; */
  max-height: 170px;
  opacity: 1;
  transition:   0.8s;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}





.collapse_logement{
  /* display: flex; */
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: -3%;
  margin-right: -3%;
}

.dropdown_list {
  color: #ff6060;
  list-style-type: none;
  margin:4px;
  padding: 0;
}

.bloc_list_equipments{
  margin-top: -10px;
}

/* ################################ */



/* .tag {
  background-color: #FF6060;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  margin: auto 10px;
  min-width: 115px;
  padding: 5px 15px;   
  text-align: center; 
} */

.title_logement{
  color: #FF6060;
  font-size: 28px;
}

.location_logement{
  color: #FF6060;
  font-size: 18px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  color: white;
  background-color: #FF6060;
  border: solid #FF6060;
  border-radius: 10px;
  padding: 2px 14px;
}

.host{
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.host_name{
  color: #FF6060;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: end;
  margin-right: 1.3rem;
  /* margin-left: 3rem; */
  /* width: 3px; */
  width: 4rem;
    /* margin-right: 2rem; */
}

.host_picture{
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.rating{
  width: 13.5rem;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.stars_full{
  transition: 1s;
}

.stars_full:hover{
  transform: rotate(360deg);
  transition: 1.5s;
}

.details_logement{
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.bloc_list_equipments{
  margin-top: -10px;
}


.gallery{
  position: relative;
  text-align: center;
}

.gallery_image{
  border-radius: 25px;
  width: 93%;
  height: 415px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  object-fit: cover;
  animation: azw 1.4s ease-out both;
}

@keyframes azw {
  0%   { transform: scale(0.97); }
  100%   { transform: scale(1) }
}

.left_arrow{
  position: absolute;
  top: 170px;
  left: 5%;
  cursor: pointer;
  transition: 0.4s;
}

.left_arrow:hover{
  transform: scale(1.15);
  transition: 0.4s;
}

.right_arrow{
  position: absolute;
  top: 170px;
  right: 5%;
  cursor: pointer;
  transition: 0.4s;
}

.right_arrow:hover{
  transform: scale(1.15);
  transition: 0.4s;
}

.number_length{
  position: relative;
  top: -70px;
  color:white;
}

.error{
  text-align: center;
  color:#FF6060;
  margin-bottom: 5rem;
}
.error_number{
  font-size: 288px;
  margin: 0;

}

.error_message{
  font-size: 36px;
  margin-bottom: 10rem;
}

.return_home{
  color: #FF6060;
  font-size: 18px;
}



@media screen and (max-width: 750px) {



  .banner{
    display: block;
  }
  .banner_title {  
    font-size: 26px;
    top: 5%;
    left:7%;
    right: 5%;
    text-align: start;
  }
  .txt4{
    display: block;
  }
    /* retour à la ligne */

  .banner_img_bloc{
    height: 111px;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  .banner_img{
    border-radius: 10px;
  }

  .thumbnail_section {
  background-color: white;
  border-radius: 25px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  padding: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  margin-top: 0rem;

  }
  .thumbnail_bloc{
  border-radius: 10px;
  height: 290px;
  width: 100%;
  position: relative;
  margin: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  }

  .gallery_image{
    margin-bottom: 0;
    height: 255px;
  }

  .gallery{
    position: relative;
    text-align: center;
  }

  .left_arrow{
    width:25px;
    left: 5%;
    top: 90px;
  }
  .right_arrow{
    width:25px;
    right: 5%;
    top: 90px;
  }

  .number_length{
    position: relative;
    top: -30px;
    color:white;
  }



  .title_logement{
    font-size: 18px;
  }
  
  .location_logement{
    font-size: 14px;
  }
  
  .tag {
    border-radius: 5px;
    font-size: 10px;
  }






  .details_logement{
    display: block;
  }

  .hostInfo{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .host{
  margin-top: 1rem;
  margin-bottom: 0;
  }
  .host_name{
    width: 4rem;
    /* margin-right: 2rem; */
  }
  .host_picture{
    border-radius: 100%;
    width: 48px;
    height: 48px;
  }

  .rating{
    margin-top: 1.8rem;
    width: 9rem;
    display: flex;
    justify-content: space-between;
  }

  .stars_full{
    width: 20px;
  }
  .stars_empty{
    width: 20px;
  }



  .collapse_logement{
    display: block;
  }

  .dropdown_header{
    width: 88%;
    height: 35px;

    line-height: 35px;
  
    font-size: 15px;
  }
  .fleche-dropdown{
    width: 20px;

    /* float:right; */
    margin-top: 12px;

  }

  .dropdown_description {
    width: 88%;
    /* margin-left: auto;
    margin-right: auto; */
  }



  .error{
    margin-top: 5rem;
  }
  .error_number{
    font-size: 96px;  
  }
  
  .error_message{
    font-size: 18px;
    margin-bottom: 10rem;
  }
  
  .return_home{
    color: #FF6060;
    font-size: 14px;
  }

}